---
layout: default
---

<ul class="post-list">
    {% for post in paginator.posts limit:5 %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>

<h1>Projects</h1>
<br>
{% assign projects = site.portfolio | sort: 'date' | reverse %}
{% for project in projects limit:3 %}
{% if project.internal %}
<div class="project">
    <div class="thumbnail">
        <a href="{{ project.internal }}">
        {% if project.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}
        <span>
            <h1>{{ project.title }}</h1>
            <br/>
            <p>{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>
{% else %}
    {% if project.redirect %}
    <div class="project">
        <div class="thumbnail">
            <a href="{{ project.redirect }}" target="_blank">
            {% if project.img %}
            <img class="thumbnail" src="{{ project.img }}"/>
            {% else %}
            <div class="thumbnail blankbox"></div>
            {% endif %}
            <span>
                <h1>{{ project.title }}</h1>
                <br/>
                <p>{{ project.description }}</p>
            </span>
            </a>
        </div>
    </div>
    {% else %}
    <div class="project ">
        <div class="thumbnail">
            <a href="{{ site.baseurl }}{{ project.url }}">
            {% if project.img %}
            <img class="thumbnail" src="{{ project.img }}"/>
            {% else %}
            <div class="thumbnail blankbox"></div>
            {% endif %}
            <span>
                <h1>{{ project.title }}</h1>
                <br/>
                <p>{{ project.description }}</p>
            </span>
            </a>
        </div>
    </div>
    {% endif %}
{% endif %}

{% endfor %}
